<mat-toolbar color='primary'> 
    <a
    [routerLink]="'/'"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
</a>
    <span>Quiz</span>
    <span class="example-spacer"></span>
    <a
    [routerLink]="'/login'" 
    mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login
        <!-- <mat-icon>login</mat-icon> -->
</a>
    <a
   [routerLink]="'/signup'"
    mat-icon-button class="example-icon favorite-icon ml20 mr20" aria-label="Example icon-button with heart icon">
       Register
          <!-- <mat-icon>login</mat-icon> -->
</a>
  </mat-toolbar>
  