<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo.jpeg" alt="">
                </div>
<h1 class="text-center">Login Here</h1>
<form action="">
    <!--User Name Field-->
    <!-- <mat-form-field class="full-width" appearance="outline"> -->
        <mat-form-field class="full-width" appearance="outline">
        <mat-label >User Name</mat-label>
        <input required  name="username" matInput placeholder="Enter Here">
        <mat-hint>Valid User Name</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label >Password</mat-label>
        <input required  name="password" matInput placeholder="Enter Here">
        <mat-hint>Valid User Name</mat-hint>
      </mat-form-field>
      <div class="container text-center"> 

        <button mat-raised-button color="primary" type="submit">Login</button>
        <button class="ml20" mat-raised-button color="accent" type="submit">Reset</button>
      </div>

</form>
</mat-card>            </div>
        </div>
    </div>
</div>
